$url: 'http://localhost:3000';


.page-admin{
    display: flex;
    flex-direction: column;

    .head{
        background-color: #F8CA00;
        height: 7em;
    }
    
    //arrumar tamanho
    .background2{
        background-size: 100%;
        height: 50em;
        background-repeat: no-repeat;
        background-image: url($url + "/Images/imgadm.jpg");
        padding-top: 5em;

    }
    
    .logo{
        margin-top: 1em;
        margin-left: 5em;
    }
    
    .user{
        color: #BABABA;
        font-size: 2em;
        letter-spacing: 5px;
        width: 20em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 1em;
    
    }
    
    .box-margin{
        width: 40em;
        margin-left: 3em;
        margin-bottom: 5em
    }
    .box{
        width: 40em ;
        height: 2em;
        font-size: 1em;
        background-color: inherit;
        color: #ffff;
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        margin-left: 1em;
    }
    
    .button{
        background-color: black;
        color: white;
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
        width: 4em;
        height: 2em;
        margin-left: 2em;
        padding: 10px;
        border-radius: 0.5em;
    }
    .erroadm{
        color: red;
        margin: 2em;
        font-size: 18px;
    }

    @media(max-width: 1024px){
        .background2{
            width: 100%;
            height: 100vh;
        }
    }

}