$url: 'http://localhost:3000';



.page-home {

        .head{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #F8CA00;
            height: 7em;
        }

        .logo{
            margin-top: 15px;
            height: 6em;
        }

        .login{
            float: right;
            margin-right: 1em;
        }
        .links{
            font-size: 2.5em;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            margin-left: 1em;
            margin-top: 1em;
            margin-bottom: 0.5em;
            font-style: italic;
            color:#000000;
        }

        .faixa1{
            display: flex; 
            flex-direction: column;

        }

        .background{
            height: 100%;
            width: 100%;
            background-size: 110%;
            background-repeat: no-repeat;
        }

        .box1{
            background-color: #000000;
            border: 2px solid #ffffff;
        }
        .tx1{
            display: flex;
            flex-direction: column;
            margin: 1em;
            align-items: center;
        }
        .t1{
            color: #ffffff;
            font-size: 2.5em;
        }
        .p1{
            color: #C4C4C4;
            text-align: center;
            font-size: 2em;
        }
        .faixa2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #F8CA00;
            padding-top: 2em;

        }

        .box2{
            width: 40em;
            height: 50em;
            text-align: center;
        }
        .img-box{
            margin-top: 15em;
            width: 30em;
        }
        .img1{
            width: 28em;
            height: 40em;
        }

        .t2{
            margin: 1em;
        }

        .faixa3{
            background-color: #000000;
        }

        .head-cardapio{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .t3{
            font-size: 3.5em;
            text-shadow: 4px 4px  #F8CA00;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .subt3{
            font-size: 1.5em;
            text-shadow: 2px 2px #F8CA00;
            width: 7em;
            margin-bottom: 1em;
        }

        .main-cardapio{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2em;

        }

        .cardapio1{
            display: flex;
            flex-direction: column;
            width: 70em;
            margin: 1em;

        }

        .subt4{
            color: #ffffff;
            font-size: 1.5em;
            margin-bottom: 0.5em;

        }



        .p4{
            color: #ffffff;
            font-size: 1em;
            margin-bottom: 1em;      
        }

        .cardapio2{
            display: flex;
            flex-direction: column;
            width: 70em;
            margin: 1em;
        }

        .faixa4{
            display: flex;
            flex-direction: column;
            padding: 1em;
            background-color: #E3E3E3;
        }

        .fx4-t1{
            font-size: 4em;
            text-align: center;
            letter-spacing: 5px;
            margin: 2em;
        }

        .main-box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 2em;
        }

        .fx4-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 5px solid #000000;
            height: 40em;
            width: 35em;
        }

        .fx4-subt1{
            font-size: 3em;
            text-align: center;
            color: #2C2C2C;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        .fx4-p1{
            font-size: 1.5em;
            text-align: center;
            color: #404040;
            align-self: center;
        }

        .faixa5{
            display: flex;
            flex-direction: column;
        }

        .fx5-top{
            display: flex;
            justify-content: center;
            background-color: #F8CA00;
            height: 10em;
            padding: 5em;
        }

        .fx5-t{
            font-size: 2em;
            width: 25em;
            text-align: center;
        }

        .fx5-back{
            display: flex;
            flex-direction: column;
            background-image: url($url + "/Images/imgrodape.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 55em;
            padding-right: 50%;
        }
        
        .fx5-contact{
            display: flex;
            flex-direction: column;
            margin-top: 5em;
            text-align: center;
            color: #ffffff;
        }
        
        .ft-t1{
            
            font-size: 2em;
            margin: 1em;
        }
        
        .fx5-icons{
            display: flex;
            flex-direction: row;
            margin-top: 2em;
        
        }
        
        .icon-footer{
            width: 2.5em;
            margin-right: 3em;
        }
        
        .icon-left{
            margin-left: 15em;
        }
        
        @media (max-width: 1024px){
            .img1{
                width: 20em;
            }
            .fx5-back{
                height: 35em;
            }
        }



}