.page-geral{

    .main{
        display: flex;
        flex-direction: row;
        
    }
    
    .head{
        display: flex;
        flex-direction: row;
        background-color: #F8CA00;
        height: 17vh;
    }
       
    .menu-right{
        display: flex;
        flex-direction: column;
        background-color: #404040;
        width: 40vh;
        height: 100vh;
        
    }
    
    .background{
        display: flex;
        flex-direction: column;
    
        background-color: #000000;
        width: 200vh;
        height: 100vh;
    }
    
    .cont-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    
    .main-header{
        width: 100%;
        text-align: center;
        height: 80px;
    }
    
    .input-date-header{
        width: 35em;
        height: 3em;
        background-color: #BABABA;
    }

    .icon-busca:hover{
         width: 1.7em;
    }
    
    .main-header > hr{
        margin-top: 0.5em;
        background-color:  #BABABA;
        
    }
    
    .cont-header > h4{
        padding-top: 0.5em;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 7px;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .img-adm{
        width: 8em;
        height: 8em;
        border-radius: 10em;
    }
    
    .adm-area{
        display: flex;
        flex-direction: row;
    }
    
    .adm-margin{
        margin: 1em !important; 
    }
    
    .subt1{
        color: #ffffff;
        font-size: 1.5em;
        margin: 0.5em;
    }
    
    .boxes{
        display: flex;
        flex-direction: column;
        padding-top: 3.5em;
    }
    
    .text-box{
        width: 95%;
        height: 2.5em;
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        margin-left: 1em;
    }
    
    .end-box{
        height: 10em;
    }
    
    .pesquisa{
        display: flex;
        flex-direction: row;
    }
    hr{
        color: #BABABA;
        width: 100%;
    }

    table{
        background-color: #BABABA;
    }

    th{
        background-color: #cfcfcf;
    }

    td{
        background-color: #ffffff;
        text-align: center;
    }

}